[GdmGreeterTheme]
Author=Cathbard
Copyright=(c) 2006, GPL
Description=KDE Kanotix64Penguins2 Theme
Encoding=UTF-8
Greeter=Kanotix64Penguins2.xml
Name=Kanotix64Penguins2
Screenshot=screenshot.jpg
