[GdmGreeterTheme]
Author=Cathbard
Copyright=(c) 2006, GPL
Description=KDE KanotixPenguins2 Theme
Encoding=UTF-8
Greeter=KanotixPenguins2.xml
Name=KanotixPenguins2
Screenshot=screenshot.jpg
